.about-us {
  padding-top: 31px;
  padding-bottom: 29px;
}

.about-us__list {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.about-us__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 175px;
  }
}

.about-us__item {
  margin-bottom: 30px;
  padding-top: 53px;
  padding-right: 10px;

  &--eco {
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 9px 0;
    background-size: 32px 37px;
  }

  &--scandinavian {
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 47px 27px;
    order: 3;
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 8px 6px;
    background-size: 34px 27px;
    order: 5;
  }

  &--hand-made {
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 4px 3px;
    background-size: 35px 34px;
    order: 1;
  }

  &--native {
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: -5px 4px;
    background-size: 55px 23px;
    order: 4;
  }

  &--gift-box {
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 4px 2px;
    background-size: 33px 32px;
    order: 6;
  }
}
