.cart-modal {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 46px;
  width: 100%;
  z-index: 3;

  border: 1px solid $modal-border;
  background-color: $bcg-color;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  animation: bounce 0.6s;

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 566px;
    padding-left: 108px;
    padding-right: 108px;
  }
}

.cart-modal__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.cart-modal__size {
  display: flex;
  margin-right: -7px;
}

.cart-modal__label-wrapper {
  flex-grow: 1;
}

.cart-modal__legend {
  margin-bottom: 21px;

  color: $mishka-button;
  text-align: center;
}

.cart-modal__label {
  display: block;
  padding: 18px;
  margin-right: 7px;

  cursor: pointer;
  color: $mishka-button;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid rgba($color: $mishka-button, $alpha: 0.1);

  &:hover,
  &:focus {
    border-color: rgba($mishka-button, 0.4);
  }
}

.cart-modal__checkbox:checked ~ .cart-modal__label {
  border: 2px solid $mishka-main;
}

.cart-modal__button {
  width: 100%;

  color: $bcg-color;

  background-color: $mishka-main;
  border: none;

  &:hover,
  &:focus {
    background-color: $mishka-main-dark;
  }
}
