.catalog__title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 73px 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  background-color: $footer-color;

  @media (min-width: $tablet-width) {
    margin-top: -55px;
    margin-bottom: 68px;
    padding-top: 100px;
    padding-bottom: 86px;

    font-size: 43px;
    line-height: 50px;

    border-top: 1px solid $mishka-shadow;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 24px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    gap: 52px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 668px;
    flex-direction: row;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    flex-direction: column;
  }
}

.catalog__link {
  @include link-behavior;
}

.catalog__image-container {
  display: block;
  flex-shrink: 0;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 335px;
    height: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog__image {
  display: block;

  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.catalog__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid $mishka-shadow;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog__name {
  margin: 0;
  margin-bottom: 6px;
  padding: 0 27px;
  padding-top: 27px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 26px;

    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__information-list {
  display: flex;
  margin: 0;
  margin-left: 27px;
  padding-bottom: 17px;

  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;

    font-size: 15px;
  }
}

.catalog__information-property {
  margin-right: 4px;
}

.catalog__information-value {
  margin: 0;
}

.catalog__information-item {
  display: flex;
  margin-right: 3px;
}

.catalog__order {
  display: flex;
  justify-content: space-between;
  padding: 23px 27px;

  border-top: 1px solid $mishka-shadow;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    margin: 0 30px;
  }
}

.catalog__cost {
  margin: 0;
  flex-grow: 1;

  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog__to-basket {
  color: rgba($color: #000000, $alpha: 0.3);

  &:hover,
  &:focus {
    color: $mishka-main;
  }

  &:active {
    opacity: 0.3;
  }
}
