.copyright {
  padding: 21px 40px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-width: 182px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
    padding-top: 20px;
  }
}

.copyright__text {
  margin: 0;

  font-size: 19px;
  line-height: 19px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 29px;
  }
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  color: $mishka-main;

  &:hover,
  &:focus {
    color: $mishka-main-dark;
  }

  &:active {
    color: rgba($color: $mishka-main-dark, $alpha: 0.3);
  }
}
