.form-page__title {
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 75px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $text-color;
  text-align: center;

  background-color: $footer-color;
}

.form-page__description {
  margin: 0;
  padding: 17px 0;

  font-size: 13px;
  line-height: 24px;
}

.form-page__form {
  padding-top: 20px;
}

.form-page__fieldset {
  position: relative;

  margin: 0;
  padding: 42px 0 26px;

  border: none;
  border-top: 1px solid $mishka-main;
}

.form-page__legend {
  position: absolute;
  top: -10px;

  margin: 0;
  padding-right: 25px;

  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: $mishka-main;

  background-color: $bcg-color;
}

.form-page__label-wrapper {
  display: flex;
  flex-direction: column;
}

.form-page__label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  &--radio {
    padding-left: 62px;
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: -12px;

      display: block;
      width: 42px;
      height: 42px;

      border: 2px solid $mishka-button;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 11px;

      display: none;
      width: 18px;
      height: 18px;

      background-color: $mishka-main;
      border-radius: 50%;
    }
  }
}

.form-page__box:checked ~ .form-page__label::after {
  display: block;
}
