.form-page {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.form-page__header {
  background-color: $footer-color;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom;
    background-size: auto 24px;
    background-repeat: repeat-x;
  }

  @media (min-width: $desktop-width) {
    min-height: 270px;
    background-size: auto 34px;
  }
}

.form-page__title {
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 75px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -55px;
    padding-top: 101px;
    padding-bottom: 85px;

    font-size: 43px;
    line-height: 50px;

    border-top: 1px solid $mishka-shadow;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.form-page__description {
  padding-top: 15px;
  padding-bottom: 17px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 21px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 224px;
    padding-right: 224px;
    padding-top: 100px;
  }
}

.form-page__form {
  padding-top: 20px;
}

.form-page__fieldset {
  position: relative;

  display: grid;
  margin-bottom: 18px;

  border: none;

  &--color {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {

      background-color: $footer-color;

      & .container {
        position: relative;
      }
    }
  }

  &--fio {
    position: relative;

    margin-bottom: 35px;
    margin-top: 0;
    padding-top: 37px;

    &::before {
      content: "";
      position: absolute;
      width: 260px;
      top: 0;
      border-top: 1px solid #63d1bb;

      @media (min-width: $tablet-width) {
        content: none;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 217px;
      padding-top: 53px;
      margin-bottom: 47px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 227px;
      padding-top: 47px;
      padding-right: 225px;
      padding-bottom: 46px;
    }
  }

  &--tel,
  &--email {
    padding-top: 13px;
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      padding-left: 216px;
      margin-bottom: 7px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 225px;
      padding-right: 225px;
    }
  }

  &--add {
    margin-bottom: 12px;
    padding-top: 30px;

    @media (min-width: $tablet-width) {
      padding-left: 217px;
      padding-top: 13px;
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 225px;
      padding-right: 225px;
      margin-bottom: 49px;
    }
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &--type {
      padding-left: 217px;
      margin-bottom: 20px;
    }

    &--color {
      background-color: $footer-color;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &--type {
      padding-left: 225px;
      margin-bottom: 18px;
    }

    &--tel {
      margin-bottom: 8px;
    }
  }
}

.form-page__contacts {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 43px;

    background-color: $footer-color;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.form-page__legend {
  position: absolute;
  top: -10px;

  margin: 0;
  padding-right: 25px;

  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: $mishka-main;

  background-color: $bcg-color;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 50px;

    background-color: transparent;

    &--color {
      top: 65px;
    }

    &--fio {
      top: 75px;
    }

    &--tel {
      top: 30px;
    }

    &--email {
      top: 34px;
    }

    &--add {
      top: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    left: 111px;

    &--fio {
      top: 69px;
    }
  }
}

.form-page__label-wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-width: 239px;

    &:nth-child(2n-1) {
      margin-right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 263px;

    &:nth-child(2n-1) {
      margin-right: 0;
    }
  }
}

.form-page__label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-bottom: 22px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  cursor: pointer;

  &--fio {
    margin-bottom: 0;
    min-height: auto;

    @media (min-width: $tablet-width) {
      padding-right: 24px;
    }
  }

  &--radio {
    padding-left: 62px;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: 2px;

      display: block;
      width: 40px;
      height: 40px;

      border: 2px solid $mishka-button;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: -8px;

        width: 54px;
        height: 54px;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 80px;
      margin-bottom: 36px;
    }
  }

  &--checkbox {
    padding-left: 62px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;

      display: block;
      width: 40px;
      height: 39px;

      border: 2px solid $mishka-button;
    }

    @media (min-width: $tablet-width) {
      padding-left: 78px;
      padding-top: 15px;
      padding-bottom: 20px;
      margin-bottom: 24px;

      &::before {
        width: 54px;
        height: 52px;
      }
    }
  }

  &:hover::before {
    border-color: $mishka-main;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 1;
  }
}

.form-page__check-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 29px;

  border-top: 1px solid $mishka-main;

  @media (min-width: $tablet-width) {
    border: none;

    &--checkbox {
      padding-top: 49px;
      padding-left: 168px;
      flex-direction: row;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;

    &--radio {
      flex-direction: column;
    }

    &--checkbox {
      padding-left: 175px;
      padding-bottom: 24px;
    }
  }
}

.form-page__radio {
  &:checked ~ .form-page__label::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 11px;

    display: block;
    width: 16px;
    height: 16px;

    background-color: $mishka-main;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 9px;
      left: 16px;

      width: 21px;
      height: 21px;
    }
  }

  &:disabled ~ .form-page__label {
    opacity: 0.2;
    color: $mishka-button;
    cursor: default;

    &:hover::before {
      border-color: $mishka-button;
    }
  }
}

.form-page__box {
  &:checked ~ .form-page__label::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 6px;

    display: block;
    width: 22px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 22px 16px;

    @media (min-width: $tablet-width) {
      top: 17px;
      left: 10px;

      width: 33px;
      height: 22px;

      background-size: 33px 22px;
    }
  }

  &:disabled ~ .form-page__label {
    opacity: 0.2;
    color: $mishka-button;
    cursor: default;

    &:hover::before {
      border-color: $mishka-button;
    }
  }
}

.form-page__input-wrapper {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 22px;
  }
}

.form-page__input-label {
  display: flex;
}

.form-page__input {
  position: relative;

  padding: 10px 0;
  padding-right: 40px;
  width: 100%;
  margin-bottom: 7px;
  min-height: 52px;

  font: inherit;
  font-size: 17px;
  line-height: 1;
  border: none;
  border-bottom: 2px solid $mishka-button;
  background-color: transparent;

  &::placeholder {
    color: rgba($color: $text-color, $alpha: 0.3);
  }

  &--add {
    padding: 18px 14px;

    border: 2px solid $mishka-button;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $mishka-main;
  }

  &:hover ~ .form-page__input-image,
  &:focus ~ .form-page__input-image,
  &:active ~ .form-page__input-image {
    color: $mishka-main;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 13px;
    margin: 0;

    font-size: 19px;
    line-height: 1;
  }
}

.form-page__input-image {
  position: absolute;
  top: 25px;
  right: 36px;

  color: rgba($color: $text-color, $alpha: 0.3);

  @media (min-width: $tablet-width) {
    top: 27px;
    right: 76px;
  }

  @media (min-width: $desktop-width) {
    right: 233px;
  }
}

.form-page__attention {
  display: block;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    align-self: center;

    font-size: 17px;
    line-height: 30px;
  }
}

.form-page__submit-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-right: 225px;
    margin-top: 40px;
  }
}

.form-page__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 230px;
  }
}
