.logo {
  display: inline-flex;
  height: 35px;

  @include link-behavior;

  @media (min-width: $tablet-width) {
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
  }

  &:not(&--index):hover,
  &:not(&--index):focus {
    opacity: 0.6;
  }

  &:not(&--index):active {
    opacity: 0.3;
  }

  &--index {
    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}

@media (min-width: $tablet-width) {
  .logo__icon--mobile-type {
    display: none;
  }
}
