.main-nav {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__menu {
  position: relative;
  order: -2;

  padding: 22px 0 16px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 29px;
  top: 29px;

  padding: 0;

  border: none;
  background-color: $bcg-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include list-reset;

  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__link {
  @include link-behavior;
  display: block;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 76px;
}

.main-nav__features {
  display: none;
  margin: 0;
  padding-bottom: 10px;
  align-self: flex-end;

  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $mishka-button;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
