.main-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.main-nav.container {
  padding: 0;
}

.main-nav__menu {
  position: relative;

  padding: 22px 0 16px;
}

.main-nav__toggle {
  position: absolute;
  right: 29px;
  top: 29px;

  padding: 0;

  border: none;
  background-color: $bcg-color;
  cursor: pointer;
}

.main-nav__list {
  @include list-reset;

  text-align: left;
}

.main-nav__item {
  box-shadow: 0 1px 0 $mishka-shadow, inset 0 1px 0 $mishka-shadow;
}

.main-nav__features {
  display: none;

  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $mishka-button;
}
