.products {
  position: relative;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 73px;
  min-height: 373px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 575px 373px;
  background-position: center -19px;
  background-clip: border-box;

  @media (min-width: $tablet-width) {
    margin-top: -56px;
    padding-top: 156px;
    min-height: 759px;

    background-color: $index-main;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1150px 746px;
    background-position: center 0;
    background-clip: border-box;

    border-top: 1px solid rgba($text-color, 0.1);

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 24px;
      left: 0;
      bottom: -2px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 50% 100%;
      background-size: auto 100%;

      @media (min-width: $desktop-width) {
        height: 34px;
      }
    }
  }
}

.products__slogan {
  margin: 0;
  min-height: 208px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
}

.products__item {
  &--interior {
    background-color: $mishka-main;
  }

  &--toys {
    background-color: $mishka-main-dark;

    @media (min-width: $tablet-width) {
      margin-left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    margin-right: 0;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.products__link {
  display: block;
  min-height: 103px;
  padding: 0 30px;
  padding-top: 24px;
  padding-right: 120px;
  width: 320px;
  margin: 0 auto;

  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    opacity: 50%;
  }

  &--interior {
    &::after {
      width: 40px;
      height: 62px;
      right: 36px;
      top: 24px;

      background-image: url("../img/icon-interior.svg");
      background-size: 40px 62px;
    }
  }

  &--toys {
    background-color: $mishka-main-dark;

    &::after {
      width: 60px;
      height: 60px;
      right: 27px;
      top: 22px;

      background-image: url("../img/icon-toy.svg");
      background-size: 60px 60px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 167px;
    padding-left: 35px;
    padding-bottom: 10px;
    margin: 0;
    width: auto;
    font-size: 20px;
    line-height: 30px;
    min-height: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 350px;
  }

  &:hover::after,
  &:focus::after {
    opacity: 70%;
  }

  &:focus {
    outline: 2px solid $text-color;
  }

  &:active::after {
    opacity: 30%;
  }
}
