.review {
  padding-bottom: 45px;

  border-bottom: 6px solid $mishka-shadow;
}

.review__title {
  margin-bottom: 14px;
}

.review__list {
  @include list-reset;
  margin-bottom: 30px;
}

.review__quotation {
  margin: 0;
}

.review__description {
  margin: 0;
  margin-bottom: 29px;

  line-height: 31px;
}

.review__citation {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.review__social-link {
  margin: 0;
  font-size: 17px;
}

.review__toggles {
  display: flex;
  margin-bottom: 36px;
}

.review__toggle {
  flex-grow: 1;

  font: inherit;
  width: 130px;
  height: 52px;

  background-color: $bcg-color;
  border: 1px solid $mishka-shadow;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50px 26px;

  &--previous {
    border-right: none;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
