.review {
  padding-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .review__inner{
    height: 457px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
  }
}

@media (min-width: $desktop-width) {
  .review__inner {
    padding-left: 175px;
  }
}

.review__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.review__wrapper {
  position: relative;

  display: flex;
}

.review__list {
  @include list-reset;
  margin-bottom: 30px;
}

.review__quotation {
  margin: 0;
}

.review__description {
  margin: 0;
  margin-bottom: 29px;

  line-height: 31px;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }
}

.review__citation {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.review__social-link {
  margin: 0;
  font-size: 17px;
}

.review__toggles {
  display: flex;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.review__toggle {
  flex-grow: 1;

  font: inherit;
  width: 130px;
  height: 52px;

  background-color: $bcg-color;
  border: 1px solid $mishka-shadow;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50px 26px;

  &--previous {
    border-right: none;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.review__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -70px;
    right: 0;

    width: 175px;
  }
}
