.shopping-list {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.shopping-list__label {
  display: block;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 76px;

  @media (min-width: $tablet-width) {
    padding: 31px 10px;
    padding-left: 37px;
    padding-right: 45px;
    border-left: 1px solid rgba($color: $text-color, $alpha: 0.1);
    border-right: 1px solid rgba($color: $text-color, $alpha: 0.1);
  }
}

.shopping-list__search {
  font: inherit;

  border: none;

  @media (min-width: $tablet-width) {
    width: 0;
  }

  &::placeholder {
    color: $text-color;

    @media (min-width: $tablet-width) {
      color: transparent;
    }
  }
}

.shopping-list__item {
  position: relative;

  &:hover .shopping-list__icon,
  &:focus .shopping-list__icon {
    color: $mishka-main;
  }

  &:active .shopping-list__icon,
  &:focus-within .shopping-list__icon {
    color: rgba($color: $mishka-main, $alpha: 0.3);
  }
}

.shopping-list__icon {
  position: absolute;
  left: 33px;
  top: 32px;

  color: rgba($color: $text-color, $alpha: 0.2);
}
