.social__list {
  @include list-reset;
  display: grid;
  grid-column-gap: 41px;
  align-content: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, min-content);
  padding: 15px 20px 20px;

  border-bottom: 1px solid $mishka-shadow;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.social__link {
  display: block;
  padding: 10px 0;
  color: $text-color;

  &:hover,
  &:focus {
    color: $mishka-main-dark;
  }

  &:active {
    opacity: 30%;
  }
}
