.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  padding: 25px 59px 20px;

  border-bottom: 1px solid $mishka-shadow;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.social__item {
  align-self: center;
  margin-right: 51px;
}

.social__link {
  color: $text-color;

  &:hover,
  &:focus {
    color: $mishka-main-dark;
  }

  &:active {
    opacity: 30%;
  }
}
