.week-product {
  padding-top: 32px;
  padding-bottom: 43px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 50% 100%;
  background-size: auto 6px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 71px;
    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 96px;
    background-repeat: no-repeat;
    background-size: auto 21px;
  }
}

.week-product__inner {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto auto 170px;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-areas: "tit tit tit lab" "ab ab img img" "lis lis img img" "pr pr img img""btn btn img img";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-areas: none;
  }
}

.week-product__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    grid-area: tit;
    margin-bottom: 37px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding-top: 72px;
    z-index: 1;

    align-self: center;
    font-size: 53px;
    line-height: 57px;
  }
}

.week-product__label {
  margin: 0;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: $mishka-main;

  @media (min-width: $tablet-width) {
    grid-area: lab;
    padding-right: 10px;
    padding-left: 54px;
    padding-top: 6px;
    margin: 0;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 30px;
    padding-top: 34px;
    padding-right: 40px;

    align-self: center;
  }
}

.week-product__about {
  margin: 0;
  margin-bottom: 20px;

  line-height: 24px;
  color: $mishka-button;

  @media (min-width: $tablet-width) {
    grid-area: ab;
    margin-bottom: 40px;
    padding-right: 40px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    letter-spacing: -1px;
    padding-right: 55px;
    margin-bottom: 51px;
  }
}

.week-product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 28px;

  line-height: 20px;
  color: $mishka-button;

  @media (min-width: $tablet-width) {
    grid-area: lis;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-bottom: 113px;
  }
}

.week-product__description {
  margin: 0;
}

.week-product__image-container {
  width: 260px;
  height: 315px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    grid-area: img;
    width: 333px;
    height: 404px;
    margin-bottom: 0;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    margin-bottom: 0;
  }
}

.week-product__price {
  margin: 0;
  margin-bottom: 23px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $mishka-button;

  @media (min-width: $tablet-width) {
    grid-area: pr;
    margin-bottom: 0;
    padding-right: 47px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

.week-product__item {
  display: flex;
  padding-top: 9px;
  padding-bottom: 10px;

  border-bottom: 1px solid $mishka-shadow;
}

.week-product__property {
  flex-basis: 97px;
}

.week-product__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-area: btn;
    width: 292px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 5 / -1;
  }
}
