*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  &--contacts {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.svg-sprite {
  display: none;
}
