@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  &--contacts {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}
