$bcg-color: #ffffff;
$mishka-main: #63d1bb;
$mishka-main-dark: #46c1ae;
$text-color: #000000;
$mishka-button: #444444;
$footer-color: #f1f1f1;
$mishka-shadow: #ececec;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$modal-border: #c6c6c6;
$index-main: #f5f5f5;
